# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
.piovenv/
build.log

# IDE
.vscode/
.idea/
*.code-workspace

# Сборка / прочее
*.bin
*.elf
*.map
.DS_Store

# firmware images for the web flasher
!flasher/*.bin
